@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:  hsl(185, 41%, 84%); 
}

header{
    margin: 30px 0px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: auto;
    padding: 25px;
    border-radius: 30px 30px 0px 0px;
    background-color: white;
}

.content-input{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(189, 41%, 97%);
    margin-bottom: 30px;
}

.content-input input{
    width: 85%;
    margin: 0px;
    padding: 10px 15px;
    border: 0px;
    text-align: right;
    font-family: 'Space Mono';
    font-weight: 700 bolder;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
}

.content img{
    margin-left: 15px;
    width: 13px;
    height: 18px;
}

h3{
    font-family: 'Space Mono';
    font-weight: 700;
    color: hsl(186, 14%, 43%);
    font-size: 15px;
    margin-bottom: 5px;
}

.content-tip{
    width: 100%;
    height: 250px;
}

.tips{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tip-button{
    margin: 8px 0px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    background-color: hsl(183, 100%, 15%);
    color: white;
    font-size: 25px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

#tip-input{
    margin: 8px 0px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    font-size: 25px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.content-value{
    padding: 30px 20px 20px 20px;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
}

.values{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
}

.values h4{
    color: white;
}

.values p{
    color: hsl(186, 14%, 43%);
    font-size: 13px;
}

.values h2{
    color: hsl(172, 67%, 45%);
}

.content-value button{
    width: 100%;
    height: 45px;
    background-color: hsl(172, 67%, 45%);
    border: 0px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Space Mono';
    font-weight: 700;
    color: hsl(183, 100%, 15%);
}




.attribution { 
    display: none;
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width: 900px) {

    .content{
        flex-direction: row;
        justify-content: space-around;
        width: 800px;
        height: 440px;
        border-radius: 20px;
        box-shadow: 10px 4px 20px 10px rgba(0, 0, 0, 0.1);
        gap: 10px;
    }

    .content-tip{
        height: auto;
        margin-bottom: 30px;
    }

    .tips {
        flex-direction: column;
    }

    .column{
        flex-direction: row;
        gap: 20px;
    }

    .tip-button{
        width: 100px;
        font-size: 20px;
        height: 40px;
    }

    #tip-input{
        width: 100px;
        font-size: 20px;
        height: 40px;
    }

    .fields{
        padding: 20px 0px;
    }

    .content-value{
        width: 350px;
        padding: 60px 30px 30px 30px;
    }

    .values{
        margin-bottom: 35px;
    }

    .values h2{
        font-size: 35px;
    }

    .content-value button{
        margin-top: 80px;
        height: 40px;
    }

    .attribution { 
        display: block;
    }

}